@(message: String)

@main("2Do List") {
<body>
  <div id="main">
    <div id="header">
      <div id="logo">
      	<div class="slogan"><img src="@routes.Assets.at("images/note.png")" /></div>
        <div class="title">2Do List</div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="current" in the li tag for the selected page - to highlight which page you're on -->
          <li class="current"><a href="index.html">Home</a></li>
          <li><a href="About.html">About</a></li>
          <li><a href="Contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div id="sidebar_container">
        <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>My 2Do List</h3>
        <h4>March 20, 2012 - 5:00PM</h4>
        <h5>Due in 10 hours 15 minutes left</h5>
        <p>Redesign sidebar, add in table, hook up to database</p>
        <form method="post" action="#" id="myticker">
            <p><input class="submit" name="next" type="submit" value=" > " />
            <input class="submit" name="done" type="submit" value=" Done " />
            <input class="submit" name="edit" type="submit" value=" Edit " />
            <input class="submit" name="back" type="submit" value=" < " /></p>
          </form>
        </div>
        <div class="sidebar">
          <h3>Friends' 2Do List</h3>
          <a href="#">Bill Gates</a>
          <h4>March 21, 2012 - 7:00PM</h4>
          <h5>Due in 1 day 10 hours</h5>
          <p>Buy some toothpaste for mom.</p>
          <form method="post" action="#" id="friendticker">
            <p><input class="submit" name="next" type="submit" value=" > " />
            <input class="submit" name="comment" type="submit" value=" Comment " />
            <input class="submit" name="back" type="submit" value=" < " /></p>
          </form>
        </div>
        <div class="sidebar">
          <h3>Message Inbox</h3>
          <a href="#">Bill Gates</a>
          <h4>March 18, 2012 - 3:29PM</h4>
          <h5></h5>
          <p>Hey man! Hook up your MySQL, SQLite, and MongoDB database already!!!</p>
          <form method="post" action="#" id="messages">
            <p><input class="submit" name="next" type="submit" value=" > " />
            <input class="submit" name="comment" type="submit" value=" Reply " />
            <input class="submit" name="back" type="submit" value=" < " /></p>
          </form>
        </div>
      </div>
      <div id="content">
        My 2Do List
      </div>
    </div>
    <div id="footer">
      <p><font size="3">Copyright &copy; David Lin | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></font></p>
    </div>
  </div>
</body>
}